<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
	<section class="hero is-fullheight is-info">
		<div class="hero-body">
			<div class="container is-flex is-justify-content-center">
				<!-- LOGIN FORM -->
				<form class='box' style='max-width: 400px; min-width: 300px'>
					<div class="field">
						<label for="username" class="label">username</label>
						<div class="control">
							<input type="text" class="input" name='username' placeholder="username">
						</div>
					</div>
					<div class="field">
						<label for="password" class="label">password</label>
						<div class="control">
							<input type="password" class="input" name='password' placeholder="password">
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button class="button is-info is-fullwidth" type='submit'>submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>