<!DOCTYPE html>
<html>

<head>
    <title>Creat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <form action="{% url 'manage_Blogs:creatBlog'%}" method="POST" style='max-width: 500px'>
                {% csrf_token %}
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="content">Content:</label><br>
                <input type="text" id="content" name="content"><br>
                <input type="submit" value="Submit" />
            </form>
            </div>
        </div>
    </section>
    
    
</body>

</html>