<!DOCTYPE html>
<html>

<head>
    <title>Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script>
        function toggleEdit(i) {
            let ids = document.getElementsByName("editing" + i);
            let oldContent;
            ids.forEach(id => {
                if (id.style.display === "none") {
                    id.style.display = "block";
                    if (id.tagName === "FORM" && id.id !== "deleting" + i) {
                        id.getElementsByClassName("textarea")[0].value = ids[0].textContent;
                    }
                }
                else {
                    id.style.display = "none";
                }

            });
            oldContent = ""

        }
    </script>
</head>

<body>
    <nav class="container is-flex is-justify-content-space-between pt-2 pb-2" style='max-width: 500px'>
        <a class='button is-info' href="{% url 'manage_Blogs:blogs' %}">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>Home</span>
        </a>
        {% if user.is_authenticated %}
        <p>{{user.username}}</p>
        <a class='button is-info' href="{% url 'manage_Blogs:logout' %}">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>

            <span>Logout</span>

        </a>
        {% else %}
        <a class='button is-info' href="{% url 'manage_Blogs:login' %}">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>

            <span>Login</span>
        </a>
        {% endif %}
    </nav>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="container" style='max-width: 500px'>
                <div class="box" style="padding-bottom: 10px;">
                    <div class="is-flex is-justify-content-space-between">
                        <b style="font-size: 30px;">{{blog.title}}</b>
                        {% if blog.owner_id == user.id or user.is_superuser %}
                        <div>
                            <a class="icon" href="{% url 'manage_Blogs:editBlog' blog.id %}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>

                        {% endif %}
                    </div>
                    <p>{{blog.content}}</p>
                    <hr style="margin-bottom: 5px;">
                    <p style="font-size: small; color: rgb(90, 90, 90);text-align: right; ">{{blog.owner.username}} -
                        {% if blog.edited %} Edited {% endif %}{{blog.pub_date}}</p>
                </div>
                {% if comments %}
                {% for comment in comments %}
                <div class="box" style="padding-bottom: 10px;">
                    <div class="is-flex is-justify-content-space-between">
                        <p name="editing{{comment.id}}">{{comment.comment}}</p>
                        {% if comment.owner_id == user.id or user.is_superuser %}
                        <a class="icon" onclick="toggleEdit('{{comment.id}}')">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form name="editing{{comment.id}}" style="display:none" id="deleting{{comment.id}}"
                            onsubmit="return confirm('Are you sure to delete this comment?');"
                            action="{% url 'manage_Blogs:deleteComment' blog.id comment.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" style="border:none;color:red;cursor:pointer">
                                <i class="fas fa-eraser"></i>
                            </button>
                        </form>
                        {% endif %}

                    </div>
                    <form name="editing{{comment.id}}" action="{% url 'manage_Blogs:editComment' blog.id comment.id %}"
                        method="POST" style="display: none;">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <label for="comment">Comment:</label><br>
                                <textarea class="textarea" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit" value="Submit" class="button is-info is-fullwidth" />
                            </div>
                        </div>

                    </form>

                    <hr style="margin-bottom: 5px;">
                    <p style="font-size: small; color: rgb(90, 90, 90);text-align: right; ">{{comment.owner.username}} -
                        {% if comment.edited %} Edited {% endif %}{{comment.pub_date}}</p>

                </div>

                {% endfor %}
                {% endif %}
                <div class="box" style="padding-bottom: 10px;">
                    <form action="{% url 'manage_Blogs:createComment' blog.id %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <label for="comment">Comment:</label><br>
                                <textarea class="textarea" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit" value="Submit" class="button is-info is-fullwidth" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>



</body>

</html>