<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>{{blog.title}}</h1>
        <p>{{blog.content}}</p>
        <ul>
            {% for comment in blog.comment_set.all %}
                <li>{{comment.comment}}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'manage_Blogs:createComment' blog.id %}" method="POST">
            {% csrf_token %}
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment"><br>
            <input type="submit" value="Submit"/>
        </form>
        
    </body>
</html>
