<!DOCTYPE html>
<html>

<head>
    <title>Creat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <nav class="container is-flex is-justify-content-space-between pt-2 pb-2" style='max-width: 500px'>
        <a class='button is-info' href="{% url 'manage_Blogs:blogs' %}">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>Home</span>
        </a>
        <p>{{user.username}}</p>
        <a class='button is-info' href="{% url 'manage_Blogs:logout' %}">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Logout</span>
        </a>
    </nav>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="container" style='max-width: 500px'>
                <div class="box">
                    <div class="is-flex is-justify-content-space-between">
                        <b style="font-size: 30px;">Edit Comment</b>
                    </div>
                    <hr>
                    <form action="{% url 'manage_Blogs:editBlog' blog.id%}" method="POST" class="mb-0">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <label for="content">Content:</label><br>
                                <textarea class="textarea" id="content" name="content">{{comment.content}}</textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type='submit' class="button is-info is-fullwidth">Edit</button>
                            </div>
                        </div>



                    </form>

                </div>
            </div>

        </div>
        </div>
    </section>


</body>

</html>