<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <nav class="container is-flex is-justify-content-space-between pt-2 pb-2" style='max-width: 500px'>
        <a class='button is-info' href="{% url 'manage_Blogs:creatBlog' %}">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span>create new post</span>
        </a>
        <a class='button is-info' href='/login.html'>
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>logout</span>
        </a>
    </nav>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="container" style='max-width: 500px'>
                {% if orderedBlogList %}
                {% for blog in orderedBlogList %}
                <div class="box">
                    <div class="is-flex is-justify-content-space-between">
                        <p style="white-space: pre-line;"><b>{{ blog.title }}</b>
                            Created by {{blog.creator}}
                        </p>
                        <a class="icon" href="{% url 'manage_Blogs:blogDetail' blog.id%}">
                            <i class="fas fa-edit"></i>
                        </a>

                    </div>
                    <hr>
                    <p>{{blog.content}}</p>
                </div>

                {% endfor %}
                {% else %}
                <p>No blog are available.</p>
                {% endif %}

            </div>
        </div>
    </section>

</body>

</html>